<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Pictor</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/documentation">Documentation</a>
              </li>
             
             
            </ul>
          
          </div>
        </div>
      </nav>
    
      <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="about-heading">About Pictor Image Converter App</h2>
                    <p class="about-content">Pictor Image Converter App is a web application designed to help you convert images from one format to another. Whether you need to convert PNG to JPEG, JPEG to GIF, or any other supported format, our app makes it easy and convenient for you.</p>
                </div>
            </div>
            
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="/static/photo.png" class="card-img-top p-4 img-fluid w-50 mx-auto d-block" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Upload Image</h5>
                      <p class="card-text">Easily upload your images to our app with a simple drag and drop or file selection.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="/static/convert.png" class="card-img-top p-4 img-fluid w-50 mx-auto d-block" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Convert Formats</h5>
                      <p class="card-text">Convert your images from one format to another quickly and efficiently.</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="/static/cloud-computing.png" class="card-img-top p-4 img-fluid w-50 mx-auto d-block" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Download Results</h5>
                      <p class="card-text">Download your converted images and use them wherever you need.</p>
                    </div>
                  </div>
                </div>
                
              </div>
        </div>
    </section>
    
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>